
@{
    ViewBag.Title = "Settings";
}
<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Settings</li>
    </ol>
</div>

<!-- PANELS -->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Website settings</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Application settings</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
            </div>
        </div>
    </div>
</div>

<!-- User management -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">ICE user management</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
            </div>
        </div>
    </div>
</div>