<connectionStrings>
	<!-- <add name="ICEContext" connectionString="Server=WIN-TJPTTOQUCNM;Database=ICE;Integrated Security=true" providerName="System.Data.SqlClient" /> -->
  <add name="ICEContext" connectionString="Data Source=JOEY;Initial Catalog=ICE;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>