@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>ICE - Homepage </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Broadcasts</h2>
        <p>All of the useable API links</p>
        <ul>
            <li>
                <a href="/api/Broadcasts">Get broadcasts</a>
            </li>
            <li>
                <a href="/api/Broadcasts">Get broadcast by ID</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Buildings</h2>
        <p>All of the useable API links for building</p>
        <ul>
            <li>
                <a href="/api/Broadcasts">Get buildings</a>
            </li>
            <li>
                <a href="/api/Broadcasts">Get broadcast by ID</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Emergency Types</h2>
        <p>All of the useable API links for emergency types</p>
        <ul>
            <li>
                <a href="/api/Broadcasts">Get emergency types</a>
            </li>
            <li>
                <a href="/api/Broadcasts">Get broadcast by ID</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Other API links</h2>
        <p>Other useable API links</p>
        <ul>
            <li>
                <a href="/api/Broadcasts">Get broadcasts</a>
            </li>
            <li>
                <a href="/api/Broadcasts">Get broadcast by ID</a>
            </li>
        </ul>
    </div>
</div>
