@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICE </h1>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Messages</h2>
        <p>test</p>
    </div>
    <div class="col-md-4">
        <h2>Buildings</h2>
        <p>test</p>
    </div>
    <div class="col-md-4">
        <h2>Emergency Types</h2>
        <p>test</p>
    </div>
</div>