body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}


.body-content {
    background-color: white;
    min-height: 600px;
    padding-top:10px;
}

h2{
    margin-top: 5px;
}

.margin-bot {
    margin-bottom:10px;
}

.panel{
    border-radius: 0px;
}

.panel-body, .panel table{
    min-height:130px;
}

.panel-heading{
    border-radius: 0px;
}

.checkboxview {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:10px;
}

.checkboxview .checkboxitem {

}
.checkboxview label {
    margin-right: 5px;
}

.checkboxview input {
    margin-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}
select[multiple], select[size]{

}
textarea {
    width: 100%;
    min-height: 75px;
}

input {
}

.centeredImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centeredText {
    text-align: center;
}

.rightText {
    text-align: right;
}

.divLeft {
    float: left;
}

.divRight {
    float: right;
}

.accountLog {
    width: 100%;
}


.mainFooter {
    height: 30px;
    background-color: #E4E4E4;
    max-width: 1170px;
    width: 100%;
    color: #444444;
    margin-left: auto;
    margin-right: auto;
}

    .mainFooter a {
        color: #444444;
        text-decoration: none;
    }

    .mainFooter :active:hover {
        color: #444444;
        text-decoration: none;
    }

    .mainFooter > div {
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

.masthead {
    margin: 30px -15px 0 -15px;
}

.container > .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.masthead > .nav > .navLi > a {
    background-color: #616161;
    color: white;
    border-radius: 0px;
    max-height: 65px !important;
}

.login {
    background: white;
    max-width: 400px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 175px;
}

.form-horizontal .control-label {
    text-align: left !important;
}

.img {
    width: 100%;
}

.overflowHandler {
    overflow: scroll;
    width: 100%;
    margin: 0px auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0px;
}

@media screen and (max-width: 1200px) {
    .mainFooter {
        max-width: 970px;
    }

    .login {
        max-width: 400px;
    }
}
 
@media screen and (max-width: 992px) {
    .mainFooter {
        max-width: 750px;
    }

    .login {
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .login {
        max-width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .masthead > .nav > .navLi > a {
        min-height: 65px !important;
    }
}

.method {
    margin-bottom:20px;
}

table span {
    margin-left:5px;
    font-weight: 600 !important;
}

.row {
}

/* ~~~~~~~~~~~~~~~~~~~~~  DATATABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~*/


table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer{
    border-bottom-color: #e02222 !important;
}

.dataTables_length {
    display: none;
}

.btn-datatable {
    margin-top: -35px;
    margin-bottom:50px;
}

table { table-layout: fixed; }
td { word-wrap:break-word; }

/* ~~~~~~~~~~~~~~~~~~~~~ BREADCRUMBS ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

hr {
  height: 5px;
  margin-left: 15px;
  margin-bottom:-3px;
  margin-top:0px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.breadcrumb {
  background: rgba(245, 245, 245, 0); 
  border: 0px solid rgba(245, 245, 245, 1); 
  border-radius: 25px; 
  display: block;
  margin-bottom: 10px;
  color: #444444;
}

/* ~~~~~~~~~~~~~~~~~~~~~ API TABLE CODE ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Methods */
.method .header, .method .cell {
  padding: 6px 6px 6px 10px; }
.method .list-header .header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  background-color: #eee; }
.method [class^="row"],
.method [class*=" row"] {
  border-bottom: 1px solid #ddd; }
  .method [class^="row"]:hover,
  .method [class*=" row"]:hover {
    background-color: #f7f7f7; }
.method .cell {
  font-size: 0.85em; }
  .method .cell .mobile-isrequired {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8em; }
  .method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .method .cell code {
    color: #428bca; }
  .method .cell a, .method .cell a:hover {
    text-decoration: none; }
  .method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none; }
  .method .cell .text-muted {
    color: #ddd; }
@media (max-width: 991px) {
  .method [class^="row"],
  .method [class*=" row"] {
    padding-top: 10px;
    padding-bottom: 10px; }
  .method .cell {
    padding: 0 10px; }
    .method .cell .propertyname {
      font-weight: bold;
      font-size: 1.2em; }
      .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px; }
    .method .cell .type {
      padding-left: 10px;
      font-size: 1.1em; }
    .method .cell .isrequired {
      padding-left: 10px;
      display: none; }
    .method .cell .description {
      padding-left: 10px; }
    .method .cell .mobile-isrequired {
      display: inline; } }


/* Row Utilities */
[class^='row'].margin-0,
[class*=' row'].margin-0,
[class^='form-group'].margin-0,
[class*=' form-group'].margin-0 {
  margin-top: 0px !important;
  margin-left: -0px;
  margin-right: -0px; }
  [class^='row'].margin-0 > [class^='col-'],
  [class^='row'].margin-0 > [class*=' col-'],
  [class*=' row'].margin-0 > [class^='col-'],
  [class*=' row'].margin-0 > [class*=' col-'],
  [class^='form-group'].margin-0 > [class^='col-'],
  [class^='form-group'].margin-0 > [class*=' col-'],
  [class*=' form-group'].margin-0 > [class^='col-'],
  [class*=' form-group'].margin-0 > [class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px; }
  [class^='row'].margin-0 [class^='row'],
  [class^='row'].margin-0 [class*=' row'],
  [class^='row'].margin-0 [class^='form-group'],
  [class^='row'].margin-0 [class*=' form-group'],
  [class*=' row'].margin-0 [class^='row'],
  [class*=' row'].margin-0 [class*=' row'],
  [class*=' row'].margin-0 [class^='form-group'],
  [class*=' row'].margin-0 [class*=' form-group'],
  [class^='form-group'].margin-0 [class^='row'],
  [class^='form-group'].margin-0 [class*=' row'],
  [class^='form-group'].margin-0 [class^='form-group'],
  [class^='form-group'].margin-0 [class*=' form-group'],
  [class*=' form-group'].margin-0 [class^='row'],
  [class*=' form-group'].margin-0 [class*=' row'],
  [class*=' form-group'].margin-0 [class^='form-group'],
  [class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0; }
    