<p class="lead">
    API Calls overview
</p>

<hr />

<div class="method">
    <div class="row margin-0 list-header hidden-sm hidden-xs">
        <div class="col-md-2"><div class="header">Item</div></div>
        <div class="col-md-2"><div class="header">Type</div></div>
        <div class="col-md-2"><div class="header">Required</div></div>
        <div class="col-md-4"><div class="header">Description</div></div>
        <div class="col-md-2"><div class="header">URL</div></div>
    </div>

    <div class="row margin-0">
        <div class="col-md-2">
            <div class="cell">
                <div class="propertyname">
                    Broadcasts overview<span class="mobile-isrequired">[Required]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="type">
                    <code>Broadcast object</code>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="isrequired">
                    Yes
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cell">
                <div class="description">
                    Get all the latest broadcasts
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="description">
                    /api/broadcasts/
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-0">
        <div class="col-md-2">
            <div class="cell">
                <div class="propertyname">
                    Broadcasts overview
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="type">
                    <code>Broadcast object</code>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="isrequired">
                    <span class="text-muted">No</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cell">
                <div class="description">
                    Get all the latest broadcasts
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="description">
                    /api/broadcasts/
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-0">
        <div class="col-md-2">
            <div class="cell">
                <div class="propertyname">
                    Broadcasts overview<span class="mobile-isrequired">[Required]</span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="type">
                    <code>Broadcast object</code>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="isrequired">
                    Yes
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cell">
                <div class="description">
                    Get all the latest broadcasts
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="description">
                    /api/broadcasts/
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-0">
        <div class="col-md-2">
            <div class="cell">
                <div class="propertyname">
                    Broadcasts overview
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="type">
                    <code>Broadcast object</code>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="isrequired">
                    <span class="text-muted">No</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cell">
                <div class="description">
                    Get all the latest broadcasts
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                <div class="description">
                    /api/broadcasts/
                </div>
            </div>
        </div>
    </div>

</div>