@model ICE_Webserver.Models.API
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Dashboard</li>
    </ol>
</div>

<!-- PANELS -->

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Latest broadcasts</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Scheduled broadcasts</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">ICE Overview</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
            </div>
        </div>
    </div>
</div>

<!-- API Overview-->
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Most commonnly used API Calls</div>
            

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>URL</th>
                </tr>
                <tr>
                    <td>Broadcasts overview</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                </tr>
                <tr>
                    <td>Broadcasts overview</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                </tr>
                <tr>
                    <td>Broadcasts overview</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                    <td>Broadcast object</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Swampmonster attack</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
                <input type="button" value="Send in a swampmonster attack!" class="btn btn-block btn-default" onclick="location.href='@Url.Action("TestPushNotification", "Home")'" />
            </div>
        </div>
    </div>
</div>